build/
~*
*~
debian/com.github.lainsce.niu.debhelper.log
debian/com.github.lainsce.niu.substvars
debian/com.github.lainsce.niu/
debian/debhelper-build-stamp
debian/files
obj-x86_64-linux-gnu/
po/*.mo
