@define-color colorPrimary #222222;
@define-color textColorPrimary #FFFFFF;

.niu-window {
    background: @colorPrimary;
    color: @textColorPrimary;
}

.niu-toolbar {
    background: @colorPrimary;
    color: @textColorPrimary;
    border: none;
    box-shadow: none;
}

.niu-button {
    color: @textColorPrimary;
    background: none;
    padding: 0;
}

.bold {
    font-weight: 700;
    font-size: 1.66em;
}

.niu-info {
    font-weight: 500;
    font-size: 1.2em;
}

.niu-n {
    font-weight: 300;
    font-size: 3.33em;
}
