@define-color color_primary #151515;
@define-color text_color #F7F7F7;
@define-color accent #60C9C2;
@define-color accent_color_500 #60C9C2;

window.unified decoration,
window.unified decoration-overlay {
  border-radius: 8px;
}

.niu-window {
    background: @color_primary;
    color: @text_color;
}

.niu-toolbar {
    background: #151515;
    box-shadow: none;
    color: @text_color;
}

.title {
    font-weight: 700;
}

.destructive-button:hover {
    color: #D07070;
}

.niu-toolbar .image-button {
    border-radius: 8px;
}

.niu-toolbar .image-button image {
    padding: 0 6px;
    margin: -1px;
}

.niu-toolbar separator {
    padding: 0;
    margin: 0;
}

.niu-toolbar .image-button:focus,
.niu-toolbar .image-button:hover {
    background: shade(@base_color, 0.95);
}

.niu-switcher button {
    box-shadow: none;
    background-image: none;
    margin: 0 6px;
    border-radius: 8px 8px 0 0;
    background: mix(@accent, @base_color, 0.85);
}
.niu-switcher button:first-child {
    border-bottom: 1px solid shade (@accent, 1.2);
}
.niu-switcher button:not(:first-child):not(:last-child) {
    box-shadow: none;
    background-image: none;
    border-radius: 0;
    border: 1px solid transparent;
}
.niu-switcher button:last-child {
    box-shadow: none;
    background-image: none;
    border-radius: 0 0 8px 8px;
    border-top: 1px solid shade (@accent, 1.2);
}
.niu-switcher button label {
    font-weight: 700;
    opacity: 0.8;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
.niu-switcher button:not(:checked):not(:active) label {
    font-weight: 500;
    opacity: 0.8;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
.niu-switcher button:not(:checked):not(:active) {
    border-left: 1px solid shade (@accent, 1.2);
    border-right: 1px solid shade (@accent, 1.2);
    background: none;
    color: #FFF;
}
.niu-switcher button {
    background: shade (@accent, 1.2);
    border: 1px solid shade (@accent, 1.2);
    color: #000;
}
.niu-column {
    background: mix (@accent, @base_color, 0.85);
    border-right: 1px solid alpha (black, 0.25);
    box-shadow: none;
    padding: 6px;
}
.niu-entry {
    border-radius: 8px;
    padding: 5px;
}